{{input type="text" value=ve class="w10 forcontrol"}}
{{input type="text" class="from-control taste-input forcontrol" id="uname" value=person}}
<div>
=={{result}}==
</div>

{{input type="text" value=a class="w10 forcontrol"}}
{{input type="text" value=b class="w10 forcontrol"}}
<div>
  =={{sum}}==
</div>

<div>
  =={{names}}==
</div>